{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-4">
                <h2 class="logo-font page-header text-white">Approve Conversions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="page-header-hr text-white mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 mb-4">
                {% if require_approval %}
                <h5 class="page-sub-header text-white">Pending Approval</h5>
                {% else %}
                <h5 class="page-sub-header text-white">There are no listings awating approval.</h5>
                {% endif %}
                <a id="back-to-approval-button" href="{% url 'manage_conversions' %}" class="mt-2 btn border-white rounded-2 text-white"><i class="ml-1 fa fa-chevron-left mr-2"></i> Back to Live Listing Management </a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                {% for conversion in conversions %}
                    {% if not conversion.is_active %}
                        <div class="card no-border mb-4">
                            <div class="card-body border-white text-white">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <h3>{{ conversion.listing_title }}</h3>
                                        <p>{{ conversion.category }}</p>
                                        <p>Username: {{ conversion.user.user }} </p>
                                        <p>User: {{ conversion.name }} </p>
                                    </div>
                                    <div class="col-12 col-lg-6">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center text-lg-left">
                                <a href="{% url 'conversion_detail' conversion.id %}" class="btn border-white rounded-2 text-white mb-2">See Details</a>
                                <a href="{% url 'edit_conversion' conversion.id %}" class="btn border-white rounded-2 text-white ml-2 mb-2">Edit Conversion</a>
                                <a href="{% url 'delete_conversion' conversion.id %}" class="btn border-white rounded-2 text-white ml-2 mb-2">Delete Conversion</a>
                                <a class="ml-2 btn border-white rounded-2 text-white mb-2 contact-info-button">Contact Seller</a>
                                <a href="{% url 'approve_conversion' conversion.id %}" class="ml-2 mb-2 btn border-white rounded-2 text-white">Approve Listing <i class="ml-1 fa fa-plus-circle"></i></a>
                                <p class="mt-3 text-white large-font contact-info-row d-none">{{ conversion.name }} - {{ conversion.phone_number }}</p>
                                <p class="mt-3 text-white large-font contact-info-row d-none">Email - {{ conversion.user.user.email }}</p>
                            </div>
                        </div>
                        
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'conversions/includes/contact_seller_button_script.html' %}
{% endblock %}
