{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-4">
                <h2 class="logo-font page-header text-white">Approve Conversions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="page-header-hr text-white mb-1">
            </div>
        </div>
        <div class="row">
            <div class="col mt-4 mb-4">
                {% if require_approval %}
                <h5 class=" page-header text-white">Pending Approval</h5>
                {% else %}
                <h5 class=" page-header text-white">There are no listings awating approval.</h5>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                {% for conversion in conversions %}
                    {% if not conversion.is_active %}
                        <div class="card mb-4">
                            <div class="card-body text-white">
                                <h3>{{ conversion.listing_title }}</h3>
                                <p>{{ conversion.category }}</p>
                                <p>User: </p>
                            </div>
                            <div class="card-footer">
                                <a class="btn border-white rounded-2 text-white">See Details</a>
                                <a class="ml-2 btn border-white rounded-2 text-white">Contact Seller</a>
                                <a href="{% url 'approve_conversion' conversion.id %}" class="ml-2 btn border-white rounded-2 text-white">Approve Listing <i class="ml-1 fa fa-plus-circle"></i></a>
                            </div>
                        </div>
                        
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
