{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">

        <div class="row mt-3">
            <div class="col offset-xl-2 mt-5 mb-4">
                {% if from_admin %}
                 <a class="text-white larger-font" href="{% url 'manage_conversions' %}">
                        <span><i class="fas fa-chevron-left text-white"></i> BACK TO MANAGE CONVERSIONS</span>
                    </a>
                {% elif from_profile %}
                 <a class="text-white larger-font" href="{% url 'my_listings' %}">
                        <span><i class="fas fa-chevron-left text-white"></i> BACK TO MY LISTINGS</span>
                    </a>
                {% else %}
                    <a class="text-white larger-font" href="{% url 'conversions' %}">
                        <span><i class="fas fa-chevron-left text-white"></i> BACK TO CONVERSIONS</span>
                    </a>
                {% endif %}
            </div>
        </div>

        {% if not conversion.is_active %}
            <!-- Check if user is author of listing or admin, if True render listing contents -->
            {% if request.user.is_superuser or request.user.username == conversion.user.user.username %}
                <h2 class="text-center text-white mb-4">This conversion is not currently live.</h2>
                <hr>
                {% include 'conversions/includes/conversion-details.html' %}

            {% else %}
                <!-- If listing is not live - Message to users that are not superusers or listing author -->
                <div class="row">
                    <div class="col">
                        <h2 class="text-center text-white">Sorry this conversion is not currently live. Please try another listing</h2>
                    </div>
                </div>
            {% endif %}

        {% else %}
            <!-- If listing is live - Display listing -->
            {% include 'conversions/includes/conversion-details.html' %}

        {% endif %}

    </div>
    <div class="btt-button shadow-sm rounded-0 border border-white">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'conversions/js/main.js' %}"></script>
    <script src="{% static 'conversions/js/owlCarousel.js' %}"></script>
    {% include 'conversions/includes/contact_seller_button_script.html' %}
{% endblock %}