{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col mt-5">
                <h2 class="logo-font page-header text-white text-md-left text-center">Conversions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center offset-md-1 text-md-left">
                <a class="category-badge text-decoration-none" href="{% url 'conversions' %}">
                    <span class="p-2 mt-2 badge bg-white text-black rounded-2 border border-light{% if not current_category_css_check %} active-category{% endif %}">All Conversions</span>
                </a>
                {% for c in all_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'conversions' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge bg-white text-black rounded-2 border border-light{% if current_category_css_check == c.name %} active-category{% endif %}">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-3 mb-4">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector"
                                class="custom-select custom-select-sm rounded-2 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                                    (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category
                                    (Z-A)</option>
                            </select>
                        </div>
                    </div>
                  
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-white mt-3 text-center text-md-left">
                            {{ total_listings }} Conversion{% if total_listings is not 1 %}s{% endif %}
                            {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% elif current_category %} found in "{{ current_category }}"{% else %} available{% endif %}
                        </p>
                        <div id="conversions-search-bar">
                        <form method="GET" action="{% url 'conversions' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-muted rounded-3" type="text" name="q" placeholder="Search conversions">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border-muted rounded-3" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        </div>
                        <hr class="text-white">
                    </div>
                </div>

                {% for conversion in conversions %}
                    {% if conversion.is_active %}
                        <div class="row mt-1 mb-4 {% if forloop.counter == 1 %}mt-2{% else %}mt-4{% endif %}"></div>
                            <div class="row conversion-listing">
                                <div class="col-12 col-xl-4 {% if forloop.counter|divisibleby:2 %}order-xl-last{% endif %} d-flex align-items-start mb-3">
                                    <div class="mx-auto">
                                        {% if conversion.main_image %}
                                            <!-- Carousel of first three conversion images -->
                                            <div id="carousel{{ forloop.counter }}Indicators" class="carousel slide carousel-all-conversions" data-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active mr-2">
                                                        <a href="{% url 'conversion_detail' conversion.id %}">
                                                            <img class="img-fluid img-conversions-page" src="{{ conversion.main_image.url }}" alt="{{ conversion.listing_title }}">
                                                        </a>
                                                    </div>
                                                    {% for image in conversion.images.all %}
                                                        {% if forloop.counter < 3 %}
                                                            <div class="carousel-item">
                                                                <a href="{% url 'conversion_detail' conversion.id %}">
                                                                    <img class="img-fluid img-conversions-page" src="{{ image.image.url }}" alt="{{ conversion.listing_title }}">
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                                <a class="carousel-control-prev" href="#carousel{{ forloop.counter }}Indicators" role="button" data-slide="prev">
                                                    <i style="font-size: 40px" class="fas fa-arrow-alt-circle-left ml-2"></i>
                                                    <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carousel{{ forloop.counter }}Indicators" role="button" data-slide="next">
                                                    <i style="font-size: 40px" class="fas fa-arrow-alt-circle-right mr-2"></i>
                                                    <span class="sr-only">Next</span>
                                                </a>
                                            </div>
                                        {% else %}
                                            <a href="{% url 'conversion_detail' conversion.id %}">
                                                <img class="img-fluid img-conversions-page" src="{{ MEDIA_URL }}noimage.png" alt="{{ conversion.listing_title }}">
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-12 col-xl-8 d-flex justify-content-center">
                                    <div class="card no-border w-100 h-100">
                                        <div class="card-header bg-none no-border text-white">
                                            <a href="{% url 'conversion_detail' conversion.id %}">
                                                <h3 class="mb-0 p-2 title">{{ conversion.listing_title }}</h3>
                                                <h4 class="mb-2 p-2 text-left font-weight-bold">£{{ conversion.price }}</h4>
                                            </a>
                                        </div>
                                        <div class="card-body px-0 h-100 text-white conversion-detail-border">
                                            <div class="row">
                                                <div class="col-6">
                                                    <p class="mt-1 mb-0 p-2 text-left font-weight-bold"><span class="large-font">Vehicle</span> - {{ conversion.vehicle_make_and_model }} - {{ conversion.year }}</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="mt-1 mb-0 p-2 text-left font-weight-bold"><span class="large-font">Location</span> - {{ conversion.location }}</p>
                                                    <p class="mt-1 mb-0 p-2 text-left font-weight-bold"><span class="large-font">Berths</span> - {{ conversion.berths }}</p>
                                                    <p class="mb-0 p-2 text-left font-weight-bold">{{ conversion.vehicle_description|truncatechars:250 }}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer px-0 no-border bg-none text-left">
                                            <a href="{% url 'conversion_detail' conversion.id %}" class="btn btn-outline-black border-white rounded-2 mb-2 ml-2">View Details</a>
                                            <a href="{% url 'save_listing' conversion.id conversion.unique_ref %}?from_conversions=True" class="ml-2 btn btn-outline-black border-white rounded-2 mb-2">Save to Profile <i class="ml-1 fa fa-plus-circle"></i></a>
                                            <p class="mt-3 text-white large-font contact-info-row d-none">{{ conversion.name }} - {{ conversion.phone_number }}</p>
                                            <p class="mt-3 text-white large-font contact-info-row d-none">Email - {{ conversion.user.user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <hr class="text-white mt-3">
                    {% endif %}
                {% endfor %}
                <!--- Pagination Navigation --->
                <div class="pagination larger-font text-white">
                    <span class="step-links">
                        {% if conversions.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ conversions.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ conversions.number }} of {{ conversions.paginator.num_pages }}.
                        </span>

                        {% if conversions.has_next %}
                            <a href="?page={{ conversions.next_page_number }}">next</a>
                            <a href="?page={{ conversions.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <!------>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border border-white">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'conversions/js/main.js' %}"></script>
{% endblock %}


