{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row mt-3">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white text-center text-md-left">Edit Conversion</h2>
                <a class="text-white" href="{% url 'my_listings' %}">
                    <span><i class="fas fa-chevron-left text-white"></i> BACK TO MY LISTINGS</span>
                </a>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 bg-white br-2 mb-4 mt-4">
                <form method="POST" action="{% url 'edit_conversion' conversion.id %}" class="form mb-2 p-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Main Conversion Form -->
                    <h5 class="mb-4 mt-4">Basic Info</h5>
                    {{ form.listing_title | as_crispy_field }}
                    {{ form.user | as_crispy_field }}
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.location | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.price | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.phone_number | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.name | as_crispy_field }}
                        </div>
                    </div>
                    <hr class="text-black">
                    <h5>Vehicle Info</h5>
                    <br>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.vehicle_make_and_model | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.year | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.category | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.transmission_type | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.vehicle_length | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.vehicle_width | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-4 mb-0">
                            {{ form.vehicle_height | as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6 mb-0">
                            {{ form.current_mileage | as_crispy_field }}
                        </div>
                        <div class="form-group col-md-6 mb-0">
                            {{ form.belted_seats | as_crispy_field }}
                        </div>
                    </div>
                    {{ form.vehicle_description | as_crispy_field }}
                    <hr class="text-black">
                    <h5>Conversion Info</h5>
                    <br>
                    {{ form.berths | as_crispy_field }}
                    {{ form.beds_description | as_crispy_field }}
                    {{ form.gas_sign_off | as_crispy_field }}
                    {{ form.max_weight | as_crispy_field }}
                    {{ form.unladen_weight_verified | as_crispy_field }}
                    {{ form.unladen_weight | as_crispy_field }}
                    {{ form.electrics | as_crispy_field }}
                    {{ form.registered_vehicle_type | as_crispy_field }}
                    {{ form.conversion_description | as_crispy_field }}
                    <h5 class="mt-4">Image Upload</h5>
                    <h6>You may add an additional 3 images each time you edit a listing. We don't currently enforce a limit on this.</h6>
                    <hr class="border-top-dark">
                    <!-- Image Upload Formset -->
                    {{ form.main_image| as_crispy_field }}
                    
                    {{ formset | crispy }}
                    <div class="text-right mt-3 mb-3">
                        <a class="btn btn-lg btn-outline-black rounded-2" href="{% url 'profile' %}">Cancel</a>
                        <button class="btn btn-lg btn-light-green rounded-2" type="submit">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
