{% extends "base.html" %}
{% load static %}
{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col mt-5">
            <h2 class="logo-font mt-5 mb-4 text-white text-center text-lg-left">FAQ</h2>
            <hr>
        </div>
    </div>
    <!--QUESTIONS -->
    <div class="row mt-4 text-white">
        <!--QUESTION COLUMN 1-->
        <div class="col-lg-6 text-center">
            <div class="q-a-content">
                <div class="question" id="question-1">
                    <a>How do I list a conversion on the site?</a>
                    <a href="#" id="icon-1">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-1">
                    <p>To get a coversion of yours listed onto our site is simple!</p>
                    <ol class="text-left">
                        <li>
                        Firstly make sure you are signed in, or sign up if your new here.
                        </li>
                        <li>
                            Then simply select 'Add a conversion' from the nav bar, or using the link in your profile.
                        </li>
                        <li>
                            You will be presented with a form, which will gather all the information needed to get your conversion advertised. Make sure to have all this ready and some great photographs too!!
                        </li>
                        <li>
                            Once this is completed, purchase a listing token and remember to assign your newly added listing to it on the product page!
                        </li>
                        <li>
                            When your order is complete, within 24hours your listing will be live on the site. In the meantime, feel free to edit it as you please from 'my_listings' in your profile!
                        </li>
                    </ol>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-2">
                    <a>How do I get in touch with you?</a>
                    <a href="#" id="icon-2">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-2">
                    <p>You can get in touch with us here: wildmileconversions@gmail.com</p>
                    <p>Alternatively give Jamie a call on +447720902039</p>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-3">
                    <a>Do you offer an discounts?</a>
                    <a href="#" id="icon-3">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-3">
                    <p>We currently have listing tokens at a reduced rate of £0.00.  YES FREE!! UNTIL THE END OF JULY</p>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-4">
                    <a>What happens to my listing after the listing token expires?</a>
                    <a href="#" id="icon-4">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-4">
                    <p>Your listing will remain active in your account for a further 7days after expiry. If a new listing token isn't applied at the end of this period, the listing will be deleted from the server.</p>
                </div>
            </div>
        </div>
        <!--QUESTION COLUMN 2-->
        <div class="col-lg-6 text-center">
            <div class="q-a-content">
                <div class="question" id="question-5">
                    <a>I have a conversion which doesn't quite fit into a campervan or catering/bar category</a>
                    <a href="#" id="icon-5">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-5">
                    <p>Our main priority at the moment is adding new categories to the site, along with appropriate forms to get them added correctly</p>
                    <p>We do hope to have these available by the end of the summer, so please bear with us. Alternatively if you think you can get the info you need into the current add conversion form, please go ahead. You can preview the listing before applying a token, to make sure it's what you are looking for.</p>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-6">
                    <a>If I need to remove a listing from the site, can I claim a refund for unused listing token days?</a>
                    <a href="#" id="icon-6">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-6">
                    <p>Once an order is placed, unfortunately we can't offer refunds for our digital products. Any unused days would be lost, but hey on the brightside you probably sold your conversion!!!"</p>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-7">
                    <a>Do you post merchandise internationally?</a>
                    <a href="#" id="icon-7">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-7">
                    <p>Yes we ship worldwide, all of our merchandise is make in the UK and shipped from the UK. Carrier charges will be calculated at checkout</p>
                </div>
            </div>
            <div class="q-a-content">
                <div class="question" id="question-8">
                    <a>Can you make revisions to listings once they are live on the site?</a>
                    <a href="#" id="icon-8">
                    <i class="fa-plus fas ml-2">
                    <span class="sr-only">Expand</span>
                    </i>
                    </a>
                </div>
                <div class="answer p-4" id="answer-8">
                    <p>We want our customers to be happy with how their final listing looks. Therefore we allow you to make changes, update/amend the photographs. Pretty much everything, as long the changes are for the same vehicle. Listings cannot and should not be amended to reflect a different vehicle.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{% include 'home/includes/faq_expand_answers.html' %}
{% endblock %}