{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div id="overlay-site-entry">
    <div id="site-entry-content" class="row h-100 text-center">
        <div class="col">
            <div id="entry-overlay-content">
                <img id="entry-overlay-logo" class="center-block mb-5" src="/media/wild_mile_logo_square.png" alt="wild mile logo">
                <h3 class="text-white">A platform to buy and sell unique converted vehicles</h3>
                <h5 class="text-center text-white mt-5">Click / Tap anywhere to enter</h5>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100">
        <div id="title-column" class="col">
            <h1 id="home-title" class="display-4 logo-font text-center text-black scratched-font">
                WILD MILE CONVERSIONS
            </h1>
            <h3 class="text-center text-white">A platform to buy and sell unique converted vehicles</h3>
            <div class="my-5">
                <h4 class="text-center">
                    <a href="{% url 'conversions' %}" class="see-conversions-button btn btn-lg rounded-2 text-uppercase text-white bg-light-green border-muted py-3">See Conversions</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

<!---- Site entry overlay ----->
<script>

    $('#overlay-site-entry').height($(document).height());

    $(document).ready(function(){
        $('#overlay-site-entry').click(function() {
            $(this).css('opacity', 0);
        });
});
</script>

{% endblock %}