{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!-- Site Entry Overlay -->
<div id="overlay-site-entry">
    <div id="site-entry-content" class="row h-100 text-center">
        <div class="col">
            <div id="entry-overlay-content">
                <img id="entry-overlay-logo" class="center-block mb-5" src="{{ MEDIA_URL }}wild_mile_logo_square.png" alt="wild mile logo">
                <h3 class="text-white">A platform to buy and sell unique converted vehicles</h3>
                <h5 class="text-center text-white mt-5">Click / Tap anywhere to enter</h5>
            </div>
        </div>
    </div>
</div>

<!-- Main Page content -->
<div class="container h-100">
    <div class="row h-100">
        <div id="title-column" class="col">
            <h1 id="home-title" class="display-4 logo-font text-center scratched-font">
                WILD MILE <br class="responsive">CONVERSIONS
            </h1>
            <h3 id="home-title-caption" class="text-center">A platform to buy and sell unique <br class="responsive">converted vehicles</h3>
            <div class="my-5">
                <h4 class="text-center">
                    <a href="{% url 'conversions' %}" id="home-title-button" class="see-conversions-button btn btn-lg rounded-2 text-uppercase text-white bg-light-green border-muted">See Conversions</a></h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}

<!---- Site entry overlay JavaScript ----->
<script>

    $('#overlay-site-entry').height($(document).height());

    $(document).ready(function(){

        // Check session storage to show overlay if first visit to site in browser tab //
        if ( ! sessionStorage.getItem( 'doNotShow' ) ) {
            sessionStorage.setItem( 'doNotShow', true );
            $ ('#overlay-site-entry').show();
        };
        // Fade overlay and remove overlay div when clicked //
        $('#overlay-site-entry').click(function() {
            $(this).css('opacity', 0);
            setTimeout(function(){
                $('#overlay-site-entry').remove();
            }, 1500);
        });
    });
</script>

{% endblock %}