{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white">Order History</h2>
                <hr>
                <a class="text-white" href="{% url 'profile' %}">
                    <span><i class="fas fa-chevron-left text-white"></i> BACK TO PROFILE</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>{{ orders }}</p>
            </div>
        </div>
    </div>
{% endblock %}