{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white">Saved Listings</h2>
                <hr>
                <a class="text-white" href="{% url 'profile' %}">
                    <span><i class="fas fa-chevron-left text-white"></i> BACK TO PROFILE</span>
                </a>
            </div>
        </div>
        <div class="row mt-5">
            {% for listing in saved_listings %}
            <div class="col-12 col-lg-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h2 class="mt-3 text-white text-center">{{ listing.conversion.listing_title }}</h2>
                        <p class="text-white larger-font text-center">£{{ listing.conversion.price }}</p>
                        <div class="p-2 image-container d-flex justify-content-center mt-4">
                            {% if listing.conversion.main_image %}
                                <a class="profile-listing-image-link" href="{{ listing.conversion.main_image.url }}" target="_blank">
                                    <img class="profile-listing-image img-fluid" src="{{ listing.conversion.main_image.url }}" alt="{{ conversion.name }}">
                                </a>
                            {% else %}
                                <a class="profile-listing-image-link" href="">
                                    <img class="profile-listing-image card-img img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ listing.conversion.name }}">
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer card-footer-profile-listing text-center">
                        {% if listing.conversion.is_active %}
                        <a href="{% url 'conversion_detail' listing.conversion.id %}">
                            <button class="btn btn-white btn-outline-black border-white text-white">View Listing</button>
                        </a>
                        <a href="{% url 'remove_saved_listing' listing.conversion.id %}">
                            <button class="btn btn-white btn-outline-black border-white text-white">Remove Listing</button>
                        </a>
                        {% else %}
                        <a href="#">
                            <button class="btn btn-white btn-outline-black border-white text-white"><strike>View Listing</strike></button>
                        </a>
                        <a href="{% url 'remove_saved_listing' listing.conversion.id %}">
                            <button class="btn btn-white btn-outline-black border-white text-white">Remove Listing</button>
                        </a>
                        <p class="text-danger mt-2 mb-2">Sorry this listing is no longer live on the site</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}