{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="header-container container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col mt-5"> 
                {% if from_profile %}
                    <h2 class="logo-font mb-4 mt-3 text-white">Order Details</h2>
                    <hr>
                    <p class="text-white">This is a past order confirmation. A confirmation email was sent to <strong>{{ order.email }} on the order date.</strong></p>
                {% else %}
                    <h2 class="logo-font mb-4 mt-3 text-white">Thank You</h2>
                    <hr>
                    <p class="text-white">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
                    <p class="text-white">Please note, if you have purchased a listing token, it can take upto 24 hours for your listing to become active -<br> you can check the status of the listing in your profile - alternatively click here ----> <a href="{% url 'my_listings' %}"><strong class="bg-white p-1 br-1 text-black">MY LISTINGS</strong></a></p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Number:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.order_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Date:</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.date }}</p>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Order Details:</small>
                        </div>
                    </div>
                    
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">{{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ item.quantity }} @ £{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Delivering To:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Address 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.street_address1 }}</p>
                        </div>
                    </div>
                    
                    {% if order.street_address2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Address 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.street_address2 }}</p>
                        </div>
                    </div>
                    {% endif %}

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Postcode</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">{{ order.phone_number }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <small class="text-muted">Billing Info:</small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">£{{ order.order_total }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Delivery Charge</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">£{{ order.delivery_cost }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-white font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0 text-white">£{{ order.grand_total }}</p>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                <a href="{% url 'view_order_history' %}" class="btn btn-white rounded-2 my-2 text-white">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Order History</span>
                </a>
                {% else %}
                <a href="{% url 'products' %}" class="btn btn-white rounded-2 my-2 text-white">
                    <span class="icon mr-2">
                        <i class="fas fa-gifts"></i>
                    </span>
                    <span class="text-uppercase">Checkout our merchandise page.</span>
                </a>
                {% endif %}
            </div>
        </div>
            
            
    </div>
{% endblock %}