.order-history {
    max-height: 716px;
    overflow-y: auto;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

tr {
    border-top: 1em solid transparent;
}

.profile-listing-image-link {
    width: 100%;
}

.profile-listing-image {
    height: auto;
    border-radius: 20px;
    max-height: 270px;
    width: 100%;
    object-fit: cover;
}

.card {
    border-radius: 20px;
    border: 2px solid rgba(194,208,194);
}

.card-footer-profile-listing {
    border: unset;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top: 1px solid white;
}

@media(max-width: 990px) {
    .saved-listing-image {
    height: 400px;
    }
}