.order-history {
    max-height: 716px;
    overflow-y: auto;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control {
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}

tr {
    border-top: 1em solid transparent;
}

.profile-listing-image-link {
    width: 100%;
}

.profile-listing-image {
    height: auto;
    border-radius: 20px;
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.profile-listing-button {
    font-size: 0.8rem;
    width: 30%;
    height: 50px;
}

.profile-saved-listing-button {
    font-size: 0.8rem;
    width: 40%;
    height: 50px;
}

.card {
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-footer-profile-listing {
    border: unset;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
   
}

.card-footer-my-listings {
    border: unset;
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    min-height: 261px;
}

@media(min-width: 1600px) {
    .saved-listing-image,
    .profile-listing-image  {
    height: 400px;
    }
}

@media(max-width: 990px) {
    .saved-listing-image,
    .profile-listing-image  {
    height: 425px;
    }
}

@media(max-width: 568px) {
    .saved-listing-image,
    .profile-listing-image  {
    height: 375px;
    }
}

@media(max-width: 440px) {
    .saved-listing-image,
    .profile-listing-image  {
    height: 250px;
    }
}