@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Shadows+Into+Light+Two&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Raleway';
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#logo-img {
    width: 11%;
    position: absolute;
    left: 6rem;
    top: -1.5rem;
}

a:hover,
a:visited, 
a:link, 
a:active { 
    text-decoration: none;
    color: unset;
}


hr {
    border-top: 1px solid white;
}

.page-header {
    padding-left: 8.5%;
    font-size: 1.7rem;
}

.page-sub-header {
    padding-left: 8.5%;
}

.page-header-hr {
    width: 83%;
}

#special-message-banner {
    z-index: -999;
    position: relative;
    background-color: #263d41;
}

/* --- Larger fonts ---- */

.larger-font {
    font-size: larger;
}

.large-font {
    font-size: large;
}

@media(max-width:1199px) {
    .larger-font {
    font-size: large;
    }
    .large-font {
        font-size: medium;
    }
}

@media(max-width:991px) {
    .larger-font {
    font-size: medium;
    }
    .large-font {
        font-size: small;
    }
}

/* Border / border radius settings  */

.br-1 {
    border-radius: 10px;
}

.br-2 {
    border-radius: 20px;
}

.border-white {
    border: 1px solid white;
}



/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.see-conversions-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.see-conversions-button:hover,
.see-conversions-button:active,
.see-conversions-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #2F363D;
    z-index: -1;
}

/* Colours */

.bg-dark {
    background-color: #363E46 !important;
}

.bg-light {
    background-color: bisque !important;
}

.bg-cream {
    background-color: #f3f0dd !important;
}

a {
    color: unset;
}

.light-border {
    border: 4px solid rgba(194,208,194);
}

.light-color {
    background-color: rgb(194,208,194);
}

/* Navbar */

#nav-bars {
    color: white !important;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.nav-link-fade-up::before {
  width: 40%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-faq {
    padding: 8px;
}

.nav-link {
    padding-top: 2px;
}

.nav-link,
.nav-link-faq {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.nav-link:hover,
.nav-link-faq:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  left: 18%;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-faq::before {
  transition: 300ms;
  height: 2px;
  left: 28%;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-about::before {
  transition: 300ms;
  height: 2px;
  left: 15%;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-home::before {
  transition: 300ms;
  height: 2px;
  left: 11%;
  content: "";
  position: absolute;
  background-color: white;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background: #2F363D;
    color:rgb(255, 255, 255);
}

/* Footer */

.footer-icon {
    font-size: 2.2rem;
}



/* Home Page */

#home-title {
    font-size: 5rem;
    color: white !important;
}

#title-column {
    margin-top: 21rem;
}

.scratched-font {
    font-family: pwscratchedfont;
}

/* ------ All products page ------ */

a.category-badge > span.badge:hover {
    background: white !important;
    color: black !important;
}

.active-category {
    background: white !important;
    color: black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------ All conversions page ------ */

.img-conversions-page {
    padding: 7px;
    border-radius: 20px;
}

@media (max-width:1199px){
    .img-conversions-page {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    }
}


/* ------- Coming Soon Page ------- */

#coming-soon-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border: 4px solid #6c757d;
    border-radius: 20px;
}


/* ------- All Conversion Listings Page ------- */

.card {
    background-color: unset;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
    color: white;   
}

.carousel-all-conversions {
    border:1px solid white;
    border-radius: 20px;
}

@media (max-width:1199px){
    .carousel-all-conversions {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    }
}

.carousel {
    align-self: center;
}

.title {
    color: black;
}




/* ----- Admin Pages ------ */

.card-img-sm {
    height: 50%;
    width: 50%;
}

#back-to-approval-button {
    margin-left: 8.5%;
}

.contact-info-row {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


/* ---- FAQ Page ---- */

.answer {
    display: none;
    margin-top: 1rem;
    color: black;
}

.question {
    color: black;
    font-size: 1.2rem;
    padding: 1%;
    background-color: #e9d18b;
    border-radius: 10px;
}

.q-a-content {
    background-color: #aab7c4;
    border: 1px solid white;
    border-radius: 10px;
    height: auto;
    margin-top: 1rem;
}

.border-bottom-radius-off {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

/* ------- Conversion Detail Page ------- */

.fa-check-circle:before {
    content: "\f058";
    color: green;
    font-size: 1.5rem;
}

@media (min-width: 992px) {
       .col-border-col-1 {
        border: 16px solid rgba(194,208,194);
        /* border-right: unset; */
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
        .col-border-col-2 {
        border: 16px solid rgba(194,208,194);
        /* border-left: unset; */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        /* .top-bottom-large-border {
        border-top-width: 50px;
        border-bottom-width: 50px;
    } */

        .col-border {
        border: 16px solid rgba(194,208,194);
        border-radius: 20px;
    }

        .card-header.text-white {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

}

#conversion-main-image {
    align-self: center;
    border-radius: 20px;
}

.card-footer:last-child {
    border-radius: unset;
}

.card {
    border: 2px solid rgba(194,208,194);
}

.card-body {
    flex: 0.3 1 auto;
}

.no-border {
    border: unset;
}

.conversion-detail-border {
    border-left: 1px solid gainsboro;
    border-right: 1px solid gainsboro;
}

.card-footer {
    flex: 1 1 auto;
    border: 1px solid white;
    background-color: #555;
}

.card-footer.text-center.text-lg-left {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: unset;
}

.card-header.text-white {
    border: 1px solid white;
}

.border-top-thin {
    border-top: 1px solid white;
}

.border-right-thin {
    border-right: 1px solid white;
}


/* Conversion Detail Square Gallery 
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/ */

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 13;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #a7adad; /* text-info */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #447f91; /* text-info */
}

.form-check-label {
    color: #a7adad; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .header-container {
    padding-top: 164px;
  }
}

/* manage logo size on smaller devices */
@media (max-width: 1670px) {
#logo-img {
    width: 16%;
    position: absolute;
    left: 6rem;
    top: -23px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}