@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Shadows+Into+Light+Two&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/site-background-main.jpeg') no-repeat fixed center;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Raleway';
}

.w-20 {
    width: 20% !important;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#logo-img {
    width: 12%;
    position: absolute;
    left: 6rem;
    top: -1.5rem;
}

a:hover,
a:visited, 
a:link, 
a:active { 
    text-decoration: none;
    color: unset;
}


hr {
    border-top: 1px solid white;
}

.page-header {
    font-size: 2rem;
}

@media(min-width:768px){
    .page-header {
        padding-left: 8.5%;
    }
    .page-sub-header {
    padding-left: 8.5%;
    }
}

.page-header-hr {
    width: 83%;
}

#special-message-banner {
    z-index: 2;
    position: relative;
    background-color: #263d41;
    border-bottom: 1px solid rgba(255,255,255,.5);
    padding: 7px;
    padding-bottom: 3px;
}

#scrolling-message-1 {
    margin-right: 400px;
}

/* --- Larger fonts ---- */

.larger-font {
    font-size: larger;
}

.largest-font {
    font-size: 3rem;
}

.large-font {
    font-size: large;
}

@media(max-width:1199px) {
    .larger-font {
    font-size: large;
    }
    .large-font {
        font-size: medium;
    }
}

@media(max-width:991px) {
    .larger-font {
    font-size: medium;
    }
    .large-font {
        font-size: small;
    }
}

/* Border / border radius settings  */

.br-1 {
    border-radius: 10px;
}

.br-2 {
    border-radius: 20px;
}

.br-2-top {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.br-1-top {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}


.br-2-bottom {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}

.border-white {
    border: 1px solid white;
}

.border-top-dark {
    border-top: 1px solid #607072;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.see-conversions-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-light-green {
    background: #627072 !important;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: #363E46;
    color: white !important;
}

.btn-outline-muted {
    background: #607072;
    color: white !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.btn-outline-muted:hover,
.btn-outline-muted:active,
.btn-outline-muted:focus {
    background: #363E46 !important;
}


.see-conversions-button:hover,
.see-conversions-button:active,
.see-conversions-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #2F363D;
    z-index: -1;
}

/* Entry Site overlay */

#entry-overlay-content {
    margin-top: 30vh;
}

#overlay-site-entry {
    opacity : 1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(47, 52, 56);
    width: 100%;
    z-index: 9000;
    display: none;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

#entry-overlay-logo {
    width: 20%;
    margin-left: auto;
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 2px;
    -webkit-transition: transform 700ms ease-in-out;
    transition: transform 700ms ease-in-out;
}


#entry-overlay-logo:hover {
    transform: scale(1.1);
    -webkit-transition: transform 700ms ease-in-out;
    transition: transform 700ms ease-in-out;
}

@media(max-width:1200px){
    #entry-overlay-logo {
    width: 40%;
    }

    #entry-overlay-content {
    margin-top: 20vh;
    }
}

@media(max-width:768px){
    #entry-overlay-content h3 {
        font-size: 1.2rem;
    }

    #entry-overlay-logo {
    width: 50%;
    }
}

/* Colours */

.bg-dark {
    background-color: #363E46 !important;
}

.bg-dark-main {
    background-color: #2F363D !important;
}

.bg-light {
    background-color: bisque !important;
}

.bg-cream {
    background-color: #f3f0dd !important;
}

a {
    color: unset;
}

/* Border classes */

.light-border {
    border: 4px solid rgba(194,208,194);
}

.light-color {
    background-color: rgb(194,208,194);
}

.bg-light-green {
    background-color: #627072 !important;
}

.border-muted {
    border: 1px solid rgba(255,255,255,.5);
}

.border-dark {
    border: 1px solid #607072;
}

/* Navbar */

#nav-bars {
    color: white !important;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

.nav-link-fade-up::before {
  width: 40%;
  bottom: 5px;
  opacity: 0;
}

.nav-link-fade-up:hover::before {
  bottom: 10px;
  opacity: 1;
}

.nav-link-faq {
    padding: 8px;
}

.nav-link {
    padding-top: 2px;
}

.nav-link,
.nav-link-faq {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.nav-link:hover,
.nav-link-faq:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 2px;
  left: 23%;
  content: "";
  position: absolute;
  background-color: white;
}

.nav-link-faq::before {
  left: 31%;
}

.nav-link-about::before {
  left: 23%;
}

.nav-link-sell-conversion::before {
  left: 25%;
}

.nav-link-home::before {
  left: 22%;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
    background: #263d41;
    color:rgb(255, 255, 255);
}

a.dropdown-item {
    z-index: 4;
}

.logo-font.font-weight-bold.nav-link.text-white.mr-3,
#faq-link {
    font-size: 1.1rem;
}

@media(min-width:1200px){
    li.nav-item{
        font-size: 1.2rem;
    }
    .logo-font.font-weight-bold.nav-link.text-white.mr-3,
    #faq-link {
    font-size: 1.4rem;
    }
}

@media(max-width:375px){
    a#user-options,
    a#mobile-search,
    a#mobile-bag {
        font-size: 0.8rem;
    }

    #accountdropdown {
    font-size: 0.8rem;
    width: 100%;
    }
}

/* Remove Hover effect on collapsed navbar */

@media(max-width:991px){
    .nav-link-fade-up:hover::before {
        opacity: 0;
    }
}

/* Footer */

.footer-icon {
    font-size: 2.2rem;
    color: white !important;
}

#footer {
    border-top: 1px solid rgb(255, 255, 255, 0.5);
}


/* Delete Modal  - https://www.w3schools.com/howto/howto_css_delete_modal.asp  */

* {box-sizing: border-box}

/* Set a style for all buttons */
.button-modal {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.button-modal:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container-modal {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 20;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 30vh;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Modal Close Button (x) */

.close-modal {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}


/* Home Page */

#home-title {
    font-size: 5rem;
    color: white !important;
}

#home-title-caption {
    font-size: 2rem;
    color: white !important;
}

#home-title-button {
    padding: 15px;
    }

#title-column {
    margin-top: 23vh;
}

.scratched-font {
    font-family: 'pwscratchedfontmedium', Arial, sans-serif;
}

br.responsive {
    display: inline;
}

@media(max-width:1370px){

    #title-column {
    margin-top: 15vh;
    }
}

@media(max-width:991px){
    #home-title {
        font-size: 4rem;
    }

    #home-title-caption {
    font-size: 1.8rem;
    }

    #home-title-button {
    font-size: 1rem;
    padding: 10px;
    }

    #title-column {
    margin-top: 20vh;
    }
}

@media(max-width:768px){
    #home-title {
        font-size: 3rem;
    }

    #home-title-caption {
    font-size: 1.3rem;
    }

    #home-title-button {
    font-size: 0.8rem;
    padding: 8px;
    }

    #title-column {
    margin-top: 18vh;
    }

}

@media(min-width:768px){
    br.responsive {
        display: none;
    }
}

@media(max-width:400px){
    #home-title {
        font-size: 2rem;
    }

    #home-title-caption {
    font-size: 0.7rem;
    }

    #home-title-button {
    font-size: 1rem;
    padding: 8px;
    }

    #title-column {
    margin-top: 15vh;
    }
}

/* ------ All products page ------ */

a.category-badge > span.badge:hover {
    background: white !important;
    color: black !important;
}

a.br-1.p-2.ml-1.bg-white.text-danger.border-muted {
    cursor: pointer;
}

.active-category {
    font-size: 1.1rem !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

#product-search-bar {
    width: 50%;
}

@media (max-width:1199px){
    #product-search-bar {
    width: 75%;
    }
}

@media (max-width:767px){
    #product-search-bar {
    margin: 0 auto;
    width: 50%;
    }
}

/* Product Detail Page  */

a.br-1.ml-1.p-2.bg-white.text-danger {
    cursor: pointer;
}


/* ------ All conversions page ------ */

.img-conversions-page {
    padding: 7px;
    border-radius: 20px;
}

#conversions-search-bar {
    width: 50%;
}

@media (max-width:1199px){
    .img-conversions-page {
    border-bottom: unset;
    }
    #conversions-search-bar {
    width: 75%;
    }
}

@media (max-width:767px){
    #conversions-search-bar {
    margin: 0 auto;
    width: 65%;
    }
}


@media (max-width:400px){
    #conversions-search-bar {
    margin: 0 auto;
    width: 80%;
    }
}

/* ------ ADD/EDIT conversion page ------ */

.multiField label,
#div_id_main_image label {
    font-size: 1.1rem;
    font-weight: bold;
}

#id_main_image {
    border: unset !important;
    margin-top: 10px;
}

.myclearablefileinput {
    margin-top: 10px;
}

/* ------- Coming Soon Page ------- */

#coming-soon-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border: 4px solid #6c757d;
    border-radius: 20px;
}


/* --- Bag Styling --- */

#plus-bag-button {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* ------- All Conversion Listings Page ------- */

.card {
    background-color: unset;
}

.fa-arrow-alt-circle-left,
.fa-arrow-alt-circle-right {
    color: white;   
}

.carousel-all-conversions {
    border:1px solid #627072;
    border-radius: 20px;
}

/* @media (max-width:1199px){
    .carousel-all-conversions {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    }
} */

.carousel {
    align-self: center;
}

.title {
    font-family: 'pwscratchedfontmedium';
}

/* ----- Admin Pages ------ */

.card-img-sm {
    height: 50%;
    width: 50%;
}

@media (min-width: 768px) {
    #view-active-listings-button {
        margin-left: 8.5%;
    }
}

@media (max-width: 568px) {
    #back-to-approval-button,
    #view-active-listings-button {
        font-size: 0.8rem;
    }
}

.contact-info-row {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}


/* ---- FAQ Page ---- */

.answer {
    display: none;
    margin-top: 1rem;
    color: black;
}

.question {
    color: white;
    font-size: 1.2rem;
    padding: 1%;
    background-color: #607072;
    border-radius: 10px;
}

.q-a-content {
    background-color: #aab7c4;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    height: auto;
    margin-top: 1rem;
}

.border-bottom-radius-off {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
}

/* ------- Conversion Detail Page ------- */

.fa-check-circle:before {
    content: "\f058";
    color: green;
    font-size: 1.5rem;
}

@media (min-width: 1200px) {
       .col-border-col-1 {
        border: 7px solid #627072;
        /* border-right: unset; */
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
        .col-border-col-2 {
        border: 7px solid #627072;
        /* border-left: unset; */
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        .col-border {
        border: 7px solid #627072;
        border-radius: 20px;
    }
}

@media (max-width: 575px) {
    #conversion-detail-container {
    border-right: unset;
    border-bottom: 1px solid #627072;
    }

    #electrics-detail-container {
        padding: 1.8rem !important;
    }
}

#conversion-main-image {
    align-self: center;
    border-radius: 20px;
}

.card-footer:last-child {
    border-radius: unset;
}

.card {
    border: 2px solid #263d41;
}

.card-body {
    flex: 0.3 1 auto;
}

.no-border {
    border: unset !important;
}

.bg-none {
    background-color: unset !important;
}

.card-footer {
    flex: 1 1 auto;
    border: 1px solid white;
    background-color: #555;
}

.card-header.text-white {
    border-radius: 10px;
    background-color: #627072 !important;
}

.border-top-thin {
    border-top: 1px solid #627072;
}

.border-right-thin {
    border-right: 1px solid #627072;
}

/* Owl Carousel custome style */

.owl-nav {
    color: white !important;
    font-size: 3rem;
    text-align: center;
    background-color: #607072;
    width: 12%;
    height: 10%;
    margin: 0 auto;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 2px;
    margin-top: 20px;
}

@media (max-width:768px){
    .owl-nav {
        font-size: 2.5rem;
        width: 25%;
        height: 8%;
        }
}

button.owl-prev {
    margin-right: 2rem;
}

button.owl-prev:focus,
button.owl-next:focus {
    outline: none;
}

/* Conversion Detail Square Gallery 
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/ */

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 13;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 3;
}

.toast-header.bg-white.text-dark {
    z-index: 1031;
}

.toast-body.bg-white {
    z-index: 1031;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #a7adad; /* text-info */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #447f91; /* text-info */
}

.form-check-label {
    color: #a7adad; /* text-info */
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .header-container {
    padding-top: 164px;
  }
}

/* manage logo size on smaller devices */


@media (max-width: 1920px) {
#logo-img {
    width: 14%;
    position: absolute;
    left: 4rem;
    top: -40px;
    }
}



/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.border-muted.rounded-2.mt-5,
    .btn.btn-light-green.btn-outline-muted.rounded-2.text-uppercase.mt-5 {
        padding: .375rem .375rem;
    }

   .btn.btn-outline-black.rounded-2.mt-2.btn-lg,
   .btn.btn-light-green.mt-2.text-white.rounded-2.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

