html {
    height: 100%;
}

body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

#logo-img {
    width: 11%;
    position: absolute;
    left: 6rem;
    top: -1.5rem;
}

hr {
    border-top: 1px solid white;
}

.page-header {
    padding-left: 9%;
    font-size: 1.7rem;
}

.page-header-hr {
    width: 83%;
}

/* --- Larger fonts ---- */

.larger-font {
    font-size: larger;
}

.large-font {
    font-size: large;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.see-conversions-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.see-conversions-button:hover,
.see-conversions-button:active,
.see-conversions-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.bg-black {
    background-color: black !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #2F363D;
    z-index: -1;
}

/* Colours */

bg-dark {
    background-color: #2F363D !important;
}

bg-light {
    background-color: bisque !important;
}

a {
    color: unset;
}

.light-border {
    border: 4px solid rgba(194,208,194);
}

.light-color {
    background-color: rgb(194,208,194);
}

/* Navbar */

#nav-bars {
    color: white !important;
    font-size: 1.5rem;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: white;
}

/* Home Page */

#home-title {
    font-size: 5rem;
    color: white !important;
}

#title-column {
    margin-top: 21rem;
}

.scratched-font {
    font-family: pwscratchedfont;
}

/* ------ All products page ------ */

a.category-badge > span.badge:hover {
    background: white !important;
    color: black !important;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* ------- All Conversion Listings Page ------- */

.card {
    background-color: unset;
}

/* ------- Conversion Detail Page ------- */

.fa-check-circle:before {
    content: "\f058";
    color: green;
    font-size: 2rem;
}

@media (min-width: 992px) {
       .col-border-col-1 {
        border: 4px solid rgba(194,208,194);
        border-right: unset;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
        .col-border-col-2 {
        border: 4px solid rgba(194,208,194);
        border-left: unset;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        .top-bottom-large-border {
        border-top-width: 50px;
        border-bottom-width: 50px;
    }

        .col-border {
        border: 4px solid rgba(194,208,194);
        border-radius: 20px;
    }
}

#conversion-main-image {
    align-self: center;
    border-radius: 20px;
}

.card-footer:last-child {
    border-radius: unset;
}

.card {
    border: 4px solid rgba(194,208,194);
}

.card-body {
    flex: 0.3 1 auto;
}


.card-footer {
    flex: 1 1 auto;
}

/* Conversion Detail Square Gallery 
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/ */

.gallery {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery__item--2 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}

.gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 7;
    grid-row-end: 10;
}

.gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 10;
    grid-row-end: 13;
}

.gallery__item--6 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end: 13;
}


/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}


/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
  .fixed-top-desktop-only {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  
  .header-container {
    padding-top: 164px;
  }
}

@media (max-width: 1670px) {
#logo-img {
    width: 16%;
    position: absolute;
    left: 6rem;
    top: -23px;
    }
}

@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}