<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="view-conversions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BUY A CONVERSION
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">CAMPERVANS</a>
                <a href="" class="dropdown-item ">MOBILE BARS AND CATERING VANS</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="sell-conversion-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SELL A CONVERSION
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">VIEW PRICING</a>
                <a href="" class="dropdown-item">GET STARTED</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MERCHANDISE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}" class="dropdown-item">ALL PRODUCTS</a>
                <a href="" class="dropdown-item">APPAREL</a>
                <a href="" class="dropdown-item">STICKERS</a>
                <a href="" class="dropdown-item">MUGS</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-white" href="#" id="faq-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>
    </ul>
</div>