<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item nav-link nav-link-home nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="{% url 'home' %}" id="home-link" aria-expanded="false">
                HOME
            </a>
        </li>
        <li class="nav-item nav-link nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="#" id="view-conversions-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                BUY A CONVERSION
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'conversions' %}" class="dropdown-item">ALL CONVERSIONS</a>
                <a href="{% url 'conversions' %}?category=camper_conversion" class="dropdown-item">CAMPERVANS</a>
                <a href="{% url 'conversions' %}?category=mobile_bars_and_catering" class="dropdown-item ">MOBILE BARS AND CATERING VANS</a>
            </div>
        </li>

        <li class="nav-item nav-link nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link mr-4 text-white" href="#" id="sell-conversion-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SELL A CONVERSION
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'listing_levels' %}" class="dropdown-item">VIEW PRICING</a>
                <a href="{% url 'add_conversion' %}" class="dropdown-item">ADD A CONVERSION</a>
            </div>
        </li>

        <li class="nav-item nav-link nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="#" id="merchandise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                MERCHANDISE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}" class="dropdown-item">ALL PRODUCTS</a>
                <a href="{% url 'products' %}?category=clothing" class="dropdown-item">CLOTHING</a>
                <a href="{% url 'products' %}?category=stickers" class="dropdown-item">STICKERS</a>
                <a href="{% url 'products' %}?category=mugs" class="dropdown-item">MUGS</a>
            </div>
        </li>

        <li class="nav-item nav-link nav-link-about nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-4" href="{% url 'about' %}" id="about-us-link" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>

        <li class="nav-item nav-link nav-link-faq nav-link-fade-up dropdown">
            <a class="logo-font font-weight-bold nav-link text-white" href="{% url 'faq' %}" id="faq-link" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
        </li>
    </ul>
</div>