{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white">Add Product</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col mt-5">
                <p class="text-white text-center">
                Use the form below to add products to the store.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 bg-white mt-4">

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 col-xl-8 bg-white mb-4 br-2">
                <form method="POST" action="{% url 'add_product' %}" class="form mt-4 mb-2 p-3" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- Main Product Form -->
                    {{ form | crispy }}

                    <div class="text-left mt-3 mb-3">
                        <a class="btn btn-outline-black rounded-2" href="{% url 'products' %}">Cancel</a>
                        <button class="btn btn-black rounded-2" type="submit">Add Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
