{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white">CHOOSE A SERVICE LEVEL</h2>
                <hr>
                <a class="text-white" href="{% url 'conversions' %}">
                    <span><i class="fas fa-chevron-left text-white"></i> BACK TO FORM</span>
                </a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-4">
                <h1>LEVEL 1 PRICING</h1>
            </div>
            <div class="col-12 col-lg-4">
                <h1>LEVEL 2 PRICING</h1>
            </div>
            <div class="col-12 col-lg-4">
                <h1>LEVEL 3 PRICING</h1>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
