{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col"> 
                <h2 class="logo-font mt-5 mb-4 text-white">CHOOSE A SERVICE LEVEL</h2>
                <hr>
                {% if from_add_conversion_form %}
                <a class="text-white" href="{% url 'conversions' %}">
                    <span><i class="fas fa-chevron-left text-white"></i> BACK TO FORM</span>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12 col-lg-4 mb-5">
                <a href="{% url 'view_plan' 7 %}">
                    <div class="card no-border">
                        <div class="card-body bg-light text-center">
                            <h1 class="mb-4">STANDARD</h1>
                            <img class="img-fluid br-1" src="{{ MEDIA_URL }}rob-hayman-OxPtEsYUNAc-unsplash.jpg" alt="">
                        </div>
                        <div class="card-footer text-center text-white">
                            <p class="larger-font"><strike>£7.99 for 30 days.</strike></p>
                            <p class="large-font mb-1">(£0.00 promotion will run until the end of July)</p>
                        </div>   
                    </div>
                </a>
               
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <div class="card no-border">
                    <div class="card-body bg-light text-center">
                        <h1 class="mb-4">EXTENDED</h1>
                        <img class="img-fluid br-1" src="{{ MEDIA_URL }}service-level-image.jpeg" alt="">
                    </div>
                    <div class="card-footer text-center text-white">
                        <p class="larger-font mt-4 mb-4">£14.99 for 60 days.</p> 
                    </div>
                     
                </div>
            </div>
            <div class="col-12 col-lg-4 mb-5">
                <div class="card no-border">
                    <div class="card-body bg-light text-center">
                        <h1 class="mb-4">QUARTER</h1>
                        <img class="img-fluid br-1" src="{{ MEDIA_URL }}rob-hayman-OxPtEsYUNAc-unsplash.jpg" alt="">
                    </div>
                    <div class="card-footer text-center text-white">
                        <p class="larger-font mt-4 mb-4">£19.99 for 90 days.</p> 
                    </div>
                     
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
