{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col mt-5">
                <h2 class="logo-font page-header text-white text-md-left text-center">Merchandise</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center offset-md-1 text-md-left">
                <a class="category-badge text-decoration-none" href="{% url 'products' %}">
                    <span class="p-2 mt-2 badge bg-white text-black rounded-2 border border-light{% if not current_category %} active-category{% endif %}">All Products</span>
                </a>
                {% for c in all_categories %}
                    <a class="category-badge text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge bg-white text-black rounded-2 border border-light{% if current_category == c.name %} active-category{% endif %}">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-3 mb-4">
                    <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-2 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-white mt-3 text-center text-md-left">
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                        <div id="product-search-bar">
                        <form method="GET" action="{% url 'products' %}">
                            <div class="input-group w-100">
                                <input class="form-control border border-muted rounded-3" type="text" name="q" placeholder="Search products">
                                <div class="input-group-append">
                                    <button class="form-control btn btn-black border-muted rounded-3" type="submit">
                                        <span class="icon">
                                            <i class="fas fa-search"></i>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        </div>
                        <hr class="text-white">
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                            <div class="card h-100 border-0">
                                {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0"></div>
                                <div class="card-footer bg-light-green br-1 pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-1 mt-2 text-white">{{ product.name }}</p>
                                            <p class="lead mb-0 text-left text-white font-weight-bold">£{{ product.price }}</p>
                                            {% if product.category %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-white" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                                                    </a>
                                                </p>
                                            {% endif %}
                                            {% if product.rating %}
                                                <small class="text-white"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                                            {% else %}
                                                <small class="text-white">No Rating</small>
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3 float-right">
                                                    <a class="br-1 p-2 bg-white border-muted" href="{% url 'edit_product' product.id %}">Edit</a>
                                                    <a class="br-1 p-2 ml-1 bg-white text-danger border-muted" onclick="document.getElementById('id{{ forloop.counter }}').style.display='block'">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                                <hr>
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                                <hr>
                            </div>
                        {% endif %}
                        <!--- Delete Product Modal --->
                        <div id="id{{ forloop.counter }}" class="modal">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close-modal close" title="Close Modal">&times;</span>
                            <form class="modal-content" action="/action_page.php">
                                <div class="container container-modal">
                                <h1>Delete Product</h1>
                                <p>Are you sure you want to delete {{ product.name }}?</p>
                                <div class="clearfix">
                                    <button type="button" onclick="document.getElementById('id{{ forloop.counter }}').style.display='none'" class="cancelbtn button-modal">Cancel</button>
                                    <a href="{% url 'delete_product' product.id %}"><button type="button" class="deletebtn button-modal">Delete</button></a>
                                </div>
                                </div>
                            </form>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
    <div class="btt-button shadow-sm rounded-0 border border-white">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-white mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
    </script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);
            
            var selectedVal = selector.val();
            if(selectedVal != "reset") {
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort", sort);
                currentUrl.searchParams.delete("direction", direction);

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}